{% extends 'layouts.master' %}

{% block title %}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="noticias">
    <div class="container" style="margin-top: 70px; margin-bottom: 30px;">
        <div class="col-md-9" style="height: auto;">
            <img src="{{ url('img/videos/capas/simpsons.jpg') }}" class="thumbnail" style="width: 100%;">
        </div>
        <div class="col-md-3 no-padding" style="margin-bottom: 4px;">
            <div class="thumbnail-holder">
                <a href="{{ route('noticia') }}">
                    <div class="thumbnail-hover">
                        <div class="noticia-info">
                            <p class="title"><b>Nova temporada de Simpsons</b></p>
                            <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                        </div>
                    </div>
                </a>
                <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive" style="margin-bottom: 0;">
            </div>
        </div>

        <div class="col-md-3 no-padding" style="margin-bottom: 4px;">
            <div class="thumbnail-holder">
                <a href="{{ route('noticia') }}">
                    <div class="thumbnail-hover">
                        <div class="noticia-info">
                            <p class="title"><b>Nova temporada de Simpsons</b></p>
                            <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                        </div>
                    </div>
                </a>
                <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive" style="margin-bottom: 0;">
            </div>
        </div>

        <div class="col-md-3 no-padding" style="margin-bottom: 4px;">
            <div class="thumbnail-holder">
                <a href="{{ route('noticia') }}">
                    <div class="thumbnail-hover">
                        <div class="noticia-info">
                            <p class="title"><b>Nova temporada de Simpsons</b></p>
                            <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                        </div>
                    </div>
                </a>
                <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive" style="margin-bottom: 0;">
            </div>
        </div>
    </div>

    <div class="noticias-grid">
        <div class="container">
            <div class="triangle"></div>
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>

                <div class="col-md-3 no-padding">
                    <div class="thumbnail-holder">
                        <a href="{{ route('noticia') }}">
                            <div class="thumbnail-hover">
                                <div class="noticia-info">
                                    <p class="title"><b>Nova temporada de Simpsons</b></p>
                                    <p class="info"><b><span style="float: left;"><i class="fa fa-eye"></i> 273 </span><span class="pull-right"><i class="fa fa-calendar"></i>24/03/2015</b></span></p>
                                </div>
                            </div>
                        </a>
                        <img src="{{ url('img/noticias/capas/simpsons.png') }}" class="thumbnail img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
    {% block scripts %}
        {{ parent() }}
        {{ html_script('js/top-bar.js') }}
        {{ html_script('js/description.js') }}
    {% endblock %}