{% extends 'front.profile.profile' %}

{% block title %}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block styles %}
    {{ parent() }}
{% endblock %}
{% block profile %}
    <div class="col-xs-4">
        <div class="block">
            <div class="row">
                ORGANIZAR AMIGOS
            </div>
            <hr>
        </div>
    </div>

    <div class="col-xs-8">
        <div class="block">
            <div class="row">
                AMIGOS
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-xs-12" style="padding-left: 0;">
                    <div class="block">
                        <img style="float: left;" src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-responsive" width="100px" height="100px">

                        <div style="margin-left: 110px;">
                            <p style="line-height: 20px;">
                                <a href="{{ route('profile', auth_user().username) }}" style="line-height: 20px;">
                                    <b>{{ user.nome }} {{ user.apelido }}</b>
                                </a>
                            </p>
                            <p style="line-height: 20px;">"<i>I am the one who knocks</i>"</p>
                            <button style="padding: 3px 10px; margin-top: 32px;" class="btn btn-primary"><span class="small"><i class="fa fa-user"></i> Adicionar Amigo</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12" style="padding-right: 0;">
                    <div class="block">
                        <img style="float: left;" src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-responsive" width="100px" height="100px">

                        <div style="margin-left: 110px;">
                            <p style="line-height: 20px;">
                                <a href="{{ route('profile', auth_user().username) }}" style="line-height: 20px;">
                                    <b>{{ user.nome }} {{ user.apelido }}</b>
                                </a>
                            </p>
                            <p style="line-height: 20px;">"<i>I am the one who knocks</i>"</p>
                            <button style="padding: 3px 10px; margin-top: 32px;" class="btn btn-primary"><span class="small"><i class="fa fa-user"></i> Adicionar Amigo</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12" style="padding-left: 0;">
                    <div class="block">
                        <img style="float: left;" src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-responsive" width="100px" height="100px">

                        <div style="margin-left: 110px;">
                            <p style="line-height: 20px;">
                                <a href="{{ route('profile', auth_user().username) }}" style="line-height: 20px;">
                                    <b>{{ user.nome }} {{ user.apelido }}</b>
                                </a>
                            </p>
                            <p style="line-height: 20px;">"<i>I am the one who knocks</i>"</p>
                            <button style="padding: 3px 10px; margin-top: 32px;" class="btn btn-primary"><span class="small"><i class="fa fa-user"></i> Adicionar Amigo</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12" style="padding-right: 0;">
                    <div class="block">
                        <img style="float: left;" src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-responsive" width="100px" height="100px">

                        <div style="margin-left: 110px;">
                            <p style="line-height: 20px;">
                                <a href="{{ route('profile', auth_user().username) }}" style="line-height: 20px;">
                                    <b>{{ user.nome }} {{ user.apelido }}</b>
                                </a>
                            </p>
                            <p style="line-height: 20px;">"<i>I am the one who knocks</i>"</p>
                            <button style="padding: 3px 10px; margin-top: 32px;" class="btn btn-primary"><span class="small"><i class="fa fa-user"></i> Adicionar Amigo</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12" style="padding-left: 0;">
                    <div class="block">
                        <img style="float: left;" src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-responsive" width="100px" height="100px">

                        <div style="margin-left: 110px;">
                            <p style="line-height: 20px;">
                                <a href="{{ route('profile', auth_user().username) }}" style="line-height: 20px;">
                                    <b>{{ user.nome }} {{ user.apelido }}</b>
                                </a>
                            </p>
                            <p style="line-height: 20px;">"<i>I am the one who knocks</i>"</p>
                            <button style="padding: 3px 10px; margin-top: 32px;" class="btn btn-primary"><span class="small"><i class="fa fa-user"></i> Adicionar Amigo</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12" style="padding-right: 0;">
                    <div class="block">
                        <img style="float: left;" src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-responsive" width="100px" height="100px">

                        <div style="margin-left: 110px;">
                            <p style="line-height: 20px;">
                                <a href="{{ route('profile', auth_user().username) }}" style="line-height: 20px;">
                                    <b>{{ user.nome }} {{ user.apelido }}</b>
                                </a>
                            </p>
                            <p style="line-height: 20px;">"<i>I am the one who knocks</i>"</p>
                            <button style="padding: 3px 10px; margin-top: 32px;" class="btn btn-primary"><span class="small"><i class="fa fa-user"></i> Adicionar Amigo</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-12" style="padding-left: 0;">
                    <div class="block">
                        <img style="float: left;" src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-responsive" width="100px" height="100px">

                        <div style="margin-left: 110px;">
                            <p style="line-height: 20px;">
                                <a href="{{ route('profile', auth_user().username) }}" style="line-height: 20px;">
                                    <b>{{ user.nome }} {{ user.apelido }}</b>
                                </a>
                            </p>
                            <p style="line-height: 20px;">"<i>I am the one who knocks</i>"</p>
                            <button style="padding: 3px 10px; margin-top: 32px;" class="btn btn-primary"><span class="small"><i class="fa fa-user"></i> Adicionar Amigo</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12" style="padding-right: 0;">
                    <div class="block">
                        <img style="float: left;" src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-responsive" width="100px" height="100px">

                        <div style="margin-left: 110px;">
                            <p style="line-height: 20px;">
                                <a href="{{ route('profile', auth_user().username) }}" style="line-height: 20px;">
                                    <b>{{ user.nome }} {{ user.apelido }}</b>
                                </a>
                            </p>
                            <p style="line-height: 20px;">"<i>I am the one who knocks</i>"</p>
                            <button style="padding: 3px 10px; margin-top: 32px;" class="btn btn-primary"><span class="small"><i class="fa fa-user"></i> Adicionar Amigo</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}