{% extends 'front.profile.profile' %}

{% block title %}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block styles %}
    {{ parent() }}
{% endblock %}
{% block profile %}
    <div class="row" style="margin-bottom:20px;">
        <div class="friend-card">
            <div class="col-md-4">
                <div class="cover">
                    <img class="img-responsive" src="{{ url('img/profile/cover/'~utilizador.cover_img) }}" alt="">
                    <div class="cover-hover"></div>
                    <div class="cover-content">
                        <div class="avatar">
                            <img src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-circle" width="60px" height="60px">
                        </div>
                        <p class="name">{{ utilizador.nome }} {{ utilizador.apelido }}</p>
                        <p class="username">{{ utilizador.username }}</p>
                        <hr>
                        <p class="punchline">{{ utilizador.punchline }}</p>
                        <hr>
                    </div>
                </div>
                <div class="bottom">
                    <div class="col-md-6">
                        <i class="fa fa-user"></i> Adicionar amigo
                    </div>
                    <i class="fa fa-envelope-o"></i> Enviar mensagem
                </div>
            </div>
        </div>
        <div class="friend-card">
            <div class="col-md-4">
                <div class="cover">
                    <img class="img-responsive" src="{{ url('img/profile/cover/'~utilizador.cover_img) }}" alt="">
                    <div class="cover-hover"></div>
                    <div class="cover-content">
                        <div class="avatar">
                            <img src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-circle" width="60px" height="60px">
                        </div>
                        <p class="name">{{ utilizador.nome }} {{ utilizador.apelido }}</p>
                        <p class="username">{{ utilizador.username }}</p>
                        <hr>
                        <p class="punchline">{{ utilizador.punchline }}</p>
                        <hr>
                    </div>
                </div>
                <div class="bottom">
                    <div class="col-md-6">
                        <i class="fa fa-user"></i> Adicionar amigo
                    </div>
                    <i class="fa fa-envelope-o"></i> Enviar mensagem
                </div>
            </div>
        </div>
        <div class="friend-card">
            <div class="col-md-4">
                <div class="cover">
                    <img class="img-responsive" src="{{ url('img/profile/cover/'~utilizador.cover_img) }}" alt="">
                    <div class="cover-hover"></div>
                    <div class="cover-content">
                        <div class="avatar">
                            <img src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-circle" width="60px" height="60px">
                        </div>
                        <p class="name">{{ utilizador.nome }} {{ utilizador.apelido }}</p>
                        <p class="username">{{ utilizador.username }}</p>
                        <hr>
                        <p class="punchline">{{ utilizador.punchline }}</p>
                        <hr>
                    </div>
                </div>
                <div class="bottom">
                    <div class="col-md-6">
                        <i class="fa fa-user"></i> Adicionar amigo
                    </div>
                    <i class="fa fa-envelope-o"></i> Enviar mensagem
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px;">
        <div class="friend-card">
            <div class="col-md-4">
                <div class="cover">
                    <img class="img-responsive" src="{{ url('img/profile/cover/'~utilizador.cover_img) }}" alt="">
                    <div class="cover-hover"></div>
                    <div class="cover-content">
                        <div class="avatar">
                            <img src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-circle" width="60px" height="60px">
                        </div>
                        <p class="name">{{ utilizador.nome }} {{ utilizador.apelido }}</p>
                        <p class="username">{{ utilizador.username }}</p>
                        <hr>
                        <p class="punchline">{{ utilizador.punchline }}</p>
                        <hr>
                    </div>
                </div>
                <div class="bottom">
                    <div class="col-md-6">
                        <i class="fa fa-user"></i> Adicionar amigo
                    </div>
                    <i class="fa fa-envelope-o"></i> Enviar mensagem
                </div>
            </div>
        </div>
        <div class="friend-card">
            <div class="col-md-4">
                <div class="cover">
                    <img class="img-responsive" src="{{ url('img/profile/cover/'~utilizador.cover_img) }}" alt="">
                    <div class="cover-hover"></div>
                    <div class="cover-content">
                        <div class="avatar">
                            <img src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-circle" width="60px" height="60px">
                        </div>
                        <p class="name">{{ utilizador.nome }} {{ utilizador.apelido }}</p>
                        <p class="username">{{ utilizador.username }}</p>
                        <hr>
                        <p class="punchline">{{ utilizador.punchline }}</p>
                        <hr>
                    </div>
                </div>
                <div class="bottom">
                    <div class="col-md-6">
                        <i class="fa fa-user"></i> Adicionar amigo
                    </div>
                    <i class="fa fa-envelope-o"></i> Enviar mensagem
                </div>
            </div>
        </div>
        <div class="friend-card">
            <div class="col-md-4">
                <div class="cover">
                    <img class="img-responsive" src="{{ url('img/profile/cover/'~utilizador.cover_img) }}" alt="">
                    <div class="cover-hover"></div>
                    <div class="cover-content">
                        <div class="avatar">
                            <img src="{{ url('img/profile/avatar/'~utilizador.profile_img) }}" class="img-circle" width="60px" height="60px">
                        </div>
                        <p class="name">{{ utilizador.nome }} {{ utilizador.apelido }}</p>
                        <p class="username">{{ utilizador.username }}</p>
                        <hr>
                        <p class="punchline">{{ utilizador.punchline }}</p>
                        <hr>
                    </div>
                </div>
                <div class="bottom">
                    <div class="col-md-6">
                        <i class="fa fa-user"></i> Adicionar amigo
                    </div>
                    <i class="fa fa-envelope-o"></i> Enviar mensagem
                </div>
            </div>
        </div>
    </div>
{% endblock %}